.ventanaComentario{
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 9999;
}

    .ventanaComenOpen{
        display: flex;
    }

    .comentarioModalConteiner{
        /* border: solid; */
        padding: 40px;
        background-color: #fff;
        border-radius: 8px;
        width: 90%;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
        
    }

        .comentarioModalForm{
            display: flex;
            flex-direction: column;
        }

            .comentarioModalForm label{
                font-family: "Poppins", sans-serif;
                color: #3b8d8d;
                font-size: 1.3em;
                font-weight: 500;
                margin-bottom: 5px;
                /* border: solid; */
            }

            .comentarioModalForm input[type="text"]{
                border: 1.5px solid rgb(168, 167, 167);
                padding: 5px;
                border-radius: 5px;
            }

            /* .comentarioModalForm input{
                width: 100%;
            } */

            .inputFile{
                border: solid;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                padding: 40px;
                border-style: dashed;
                background: rgb(243, 243, 243);
                border-radius: 8px;
                position: relative;
            }


            
                .imgPreview{
                    width: 200px;
                }
                
                .btnQuitImage{
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: red;
                }
            
                .iconSubirImage{
                    width: 60px;
                }

                .inputFile p{
                    font-weight: bold;
                }

                .inputFile input[type="file"]{
                    border: solid red;
                    position: absolute;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                }

                .errorText{
                    color: red;
                    font-size: 14px;
                    margin-top: 8px;
                }
            
            .inputRadio{
                /* border: solid red; */
                display: flex;
                flex-direction: row-reverse;
                justify-content: start;
            }

                .inputRadio input{
                    display: none;
                }

                
                .inputRadio label{
                    font-size: 2rem;
                    color: #CCC;
                    cursor: pointer;
                    transition: 0.3s;
                }

                    .inputRadio input:checked + label,
                    .inputRadio input:checked ~ label{
                        color: gold;
                        -webkit-tap-highlight-color: transparent;
                    }

                    .inputRadio label:hover,
                    .inputRadio label:hover ~ label{
                        color: gold;
                    }

                    

            .botonesComentarioModal{
                /* border: solid; */
                margin-top: 10px;
                display: flex;
                justify-content: end;
                gap: 9px;
            }

                .botonesComentarioModal button{
                    border-radius: 5px;
                    
                }

@media (min-width: 769px) {
    .comentarioModalConteiner{
        width: 40%;
    }
}