.ventanaComentario{
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 1;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    /* display: none; */
}

    .comentarioModalConteiner{
        border: solid;
        padding: 40px;
        background-color: #fff;
        border-radius: 8px;
        width: 90%;
    }

        .comentarioModalForm{
            display: flex;
            flex-direction: column;
        }

            .comentarioModalForm label{
                font-family: "Poppins", sans-serif;
                color: #3b8d8d;
                font-size: 1.3em;
                font-weight: 500;
            }

            .comentarioModalForm input[type="text"]{
                border: 1.5px solid rgb(168, 167, 167);
                padding: 5px;
                border-radius: 5px;
            }

            /* .comentarioModalForm input{
                width: 100%;
            } */

            .inputFile{
                border: solid;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                padding: 40px;
                border-style: dashed;
                background: rgb(243, 243, 243);
                border-radius: 8px;
                position: relative;
            }

                .inputFile img{
                    width: 60px;
                }

                .inputFile p{
                    font-weight: bold;
                }

                .inputFile input[type="file"]{
                    border: solid red;
                    position: absolute;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                }
            
            .inputRadio{
                border: solid red;
                display: flex;
            }

@media (min-width: 769px) {
    .comentarioModalConteiner{
        width: 40%;
    }
}